@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;700&family=Righteous&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0f0f0f;
}

::-webkit-scrollbar {
  margin-right: 3px;
  width: 10px;
}

::-webkit-scrollbar-track {
  color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 20px;
  border: 0.3px solid #fff;
}
